/* #CUSTOM PROPERTY */

.light-theme {
    /* light theme colors */
  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(0, 0%, 97%);

  --action-primary: hsl(214, 32%, 91%);
  --action-secondary: hsl(210, 38%, 95%);

  --foreground-primary: hsl(218, 23%, 23%);
  --foreground-secondary: hsl(216, 15%, 52%);
  --foreground-tertiary: hsl(214, 20%, 69%);

  --accent: hsl(229, 76%, 66%);
}

.dark-theme {

  /**
   * dark theme colors 
   */

  --background-primary: hsl(218, 23%, 23%);
  --background-secondary: hsl(220, 26%, 14%);

  --action-primary: hsl(216, 15%, 52%);
  --action-secondary: hsl(218, 23%, 23%);

  --foreground-primary: hsl(210, 38%, 95%);
  --foreground-secondary: hsl(211, 25%, 84%);
  --foreground-tertiary: hsl(214, 20%, 69%);

  --accent: hsl(229, 76%, 66%);

}


:root {

    /**
     * color
     */
  
    --white: hsl(0, 0%, 100%);
    --accent: hsl(229, 76%, 66%);
    --background-primary: hsl(0, 0%, 100%);
    --background-secondary: hsl(0, 0%, 97%);
  
    --action-primary: hsl(214, 32%, 91%);
    --action-secondary: hsl(210, 38%, 95%);
  
    --foreground-primary: hsl(218, 23%, 23%);
    --foreground-secondary: hsl(216, 15%, 52%);
    --foreground-tertiary: hsl(214, 20%, 69%);
    
  
    /**
     * typography 
     */
  
    --fs-base: 0.85rem;
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 0.875rem;
    --fs-5: 0.75rem;
  
    /**
     * spacing 
     */
  
    --py: 5rem;
  
  }


/* #RESET */

*, *::before, *::after {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a { text-decoration: none; }
  
  li { list-style: none; }
  
  img, button { display: block; }
  
  a, span { display: inline-block; }
  
  button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  html {
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-base); /* base font-size (0.85rem = 13.6px) */
    line-height: 1.8;
  }

  /* #HEADER */

  body {
    background-color: hsl(0, 55%, 91%);
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 25px 45px;
  }

  .img-box img {
    width: 400px;
    cursor: pointer;
  }

  .navbar {
    position: sticky;
    display: flex;
    justify-content: space-around;
    gap: 50px;

  }

  .navbar a {
    font-size: var(--fs-3);
    color: black;
    margin-right: 40px;
    transition: 0.25s ease-in;
  }

  .navbar a:hover {
    transform: translateY(-1px);
    color: rgb(236, 151, 54);
  }

  /* #HERO */

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title {
    font-size: var(--fs-1);
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 5px;

  }

  .form input {
    padding: 8px 120px 8px 5px;
    color: var(--foreground-secondary);
    border: 1px solid black;
    border-radius: 2px;
  }

  .btn {
    background-color: rgb(255, 192, 20);
    margin-top: 10px;
    font-size: var(--fs-3);
    padding: 5px 25px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    transition: 0.45s ease-in;
 }

 .btn:hover {
    background-color: rgb(236, 151, 54);
 }